name: Build Cross

# copied and modified from https://github.com/Aloso/colo/blob/main/.github/workflows/release.yml

# https://eugene-babichenko.github.io/blog/2020/05/09/github-actions-cross-platform-auto-releases/
# https://mateuscosta.me/rust-releases-with-github-actions

on:
  workflow_dispatch:
    inputs:
      version: # 可定义输入参数（可选）
        description: "Version to deploy"
        required: true
  push:
    tags:
      - "[0-9]+.*"
  release:
    types: [created] # 当创建新Release时触发

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3

      - name: Build Release
        uses: zijiren233/cargo-cross@v1
        with:
          command: build
          targets: |
            x86_64-unknown-linux-gnu
            x86_64-unknown-linux-musl
            aarch64-unknown-linux-gnu
            aarch64-unknown-linux-musl
            x86_64-unknown-freebsd
            x86_64-pc-windows-gnu
            x86_64-apple-darwin
          profile:
            release
            # aarch64-apple-darwin

      # - name: Upload artifacts
      #   uses: actions/upload-artifact@v3
      #   with:
      #     name: lume-${{ matrix.os }}
      #     path: target/*/release/*

      - name: Upload runner binary
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          # upload_url: ${{ needs.create_release.outputs.upload_url }}
          asset_name: lume-${{ matrix.os }}
          asset_path: target/*/release/*
          asset_content_type: application/octet-stream
